.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 5px;
  margin: auto;
}
.login-title{
  color: darkcyan;
  text-align: center;
  margin-top: 200px;
  padding-bottom: 20px;
}

.btn-login{
  margin-left: 40px;
  margin-top: 10px;
  background-color: darkcyan;
  border-style: none;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}